## Data Scientist Interview Question(s)

### Analytics
Suppose you have time-series data consisting of (timestamp, user_id, country_id, site_id).
Each entry (row) is created when a user (of user_id) from some country (country_id) visited a certain website (site_id) at a certain time (timestamp).

We want to analyze this data.
You can find the data here:
https://docs.google.com/spreadsheets/d/1AV-A1uhQqvF6h0_a-fupFQIHv6W7-vNm88AYh_WzeB0/edit#gid=1326833441

For instance, in row 2 you will see the following row:
"2019-02-01 00:01:24	LC36FC	TL6	N0OTG"
This tells us that at "2019-02-01 00:01:24" user "LC36FC" from country "TL6" visited website "N0OTG".

The sheet contains 3554 rows (including the header) and four columns (ts for timestamp, user_id, country_id, site_id).

Using any programming/query language and free/commercial tools you like, answer the following questions. 
At the end, briefly describe how you computed the answers (and provide a link to code if any).

### Q1 
Consider only the rows with country_id = "BDV" (there are 844 such rows). For each site_id, we can compute the number of unique user_id's found in these 844 rows. Which site_id has the largest number of unique users? And what's the number?

In [1]:
import pandas as pd
# read the spreadsheet and drop duplicates and NA
google_sheet_url = 'https://docs.google.com/spreadsheets/d/1AV-A1uhQqvF6h0_a-fupFQIHv6W7-vNm88AYh_WzeB0/export?format=csv&gid=1326833441'
df = pd.read_csv(google_sheet_url)
df.drop_duplicates(inplace = True)
df.dropna()

                       ts user_id country_id site_id
0     2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1     2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2     2019-02-01 00:21:50  LC3500        TL6   N0OTG
3     2019-02-01 00:22:50  LC374F        TL6   N0OTG
4     2019-02-01 00:23:44  LCC1C3        TL6   QGO3G
5     2019-02-01 00:24:21  LC3E1D        HVQ   GVOFK
6     2019-02-01 00:25:29  LC3561        TL6   3POLC
7     2019-02-01 00:29:15  LC3A01        TL6   N0OTG
8     2019-02-01 00:32:43  LC36FC        TL6   N0OTG
9     2019-02-01 00:35:30  LC3D80        TL6   N0OTG
10    2019-02-01 00:41:25  LC3B61        TL6   N0OTG
11    2019-02-01 00:41:50  LCC3C3        QLT   5NPAU
12    2019-02-01 00:42:13  LC39C8        TL6   QGO3G
13    2019-02-01 00:47:58  LC3C22        BDV   N0OTG
14    2019-02-01 00:56:54  LC3DA2        TL6   QGO3G
15    2019-02-01 00:57:12  LC31E1        TL6   N0OTG
16    2019-02-01 00:58:58  LC39CA        TL6   QGO3G
17    2019-02-01 01:07:49  LC35FB        TL6   N0OTG
18    2019-02-01 01:17:33  LC3EA8        TL6   N0OTG
19    2019-02-01 01:24:36  LC3212        TL6   N0OTG
20    2019-02-01 01:33:37  LC376D        TL6   N0OTG
21    2019-02-01 01:49:55  LC3C72        TL6   N0OTG
22    2019-02-01 01:53:01  LC3AFE        TL6   QGO3G
23    2019-02-01 01:55:16  LC3AD6        TL6   QGO3G
24    2019-02-01 01:55:40  LC39C5        HVQ   GVOFK
25    2019-02-01 02:01:52  LC3C1C        TL6   N0OTG
26    2019-02-01 02:02:41  LC3812        HVQ   GVOFK
27    2019-02-01 02:22:19  LC3DAD        TL6   N0OTG
28    2019-02-01 02:36:51  LC3DAD        TL6   N0OTG
29    2019-02-01 02:41:02  LC31D2        HVQ   GVOFK
...                   ...     ...        ...     ...
3523  2019-02-07 22:21:27  LC39EE        TL6   QGO3G
3524  2019-02-07 22:24:38  LC3144        TL6   QGO3G
3525  2019-02-07 22:26:28  LC3D63        BDV   5NPAU
3526  2019-02-07 22:27:29  LC3005        BDV   5NPAU
3527  2019-02-07 22:40:17  LC30BA        TL6   QGO3G
3528  2019-02-07 22:43:09  LC3F79        TL6   QGO3G
3529  2019-02-07 22:45:26  LC3F79        TL6   QGO3G
3530  2019-02-07 22:57:34  LC3C51        BDV   5NPAU
3531  2019-02-07 22:58:51  LC36EA        TL6   N0OTG
3532  2019-02-07 23:02:46  LC37CC        TL6   N0OTG
3533  2019-02-07 23:04:24  LC35B3        TL6   N0OTG
3534  2019-02-07 23:04:45  LC3D80        TL6   N0OTG
3535  2019-02-07 23:11:22  LCFAC3        BDV   N0OTG
3536  2019-02-07 23:12:37  LCDC3A        TL6   N0OTG
3537  2019-02-07 23:13:52  LC3780        TL6   QGO3G
3538  2019-02-07 23:14:19  LC3780        TL6   QGO3G
3539  2019-02-07 23:15:46  LCC32B        QLT   N0OTG
3540  2019-02-07 23:30:43  LC33F8        TL6   QGO3G
3541  2019-02-07 23:37:36  LCC3AF        XA7   N0OTG
3542  2019-02-07 23:39:33  LC34C6        HVQ   GVOFK
3543  2019-02-07 23:41:25  LCC36A        TL6   N0OTG
3544  2019-02-07 23:42:35  LC34B8        TL6   QGO3G
3545  2019-02-07 23:44:34  LC3561        TL6   N0OTG
3546  2019-02-07 23:51:34  LC3842        HVQ   3POLC
3547  2019-02-07 23:55:07  LC3837        TL6   RT9Z6
3548  2019-02-07 23:56:57  LC3F13        TL6   QGO3G
3549  2019-02-07 23:58:36  LC3842        HVQ   3POLC
3550  2019-02-07 23:58:56  LC35EB        TL6   QGO3G
3551  2019-02-07 23:59:19  LC3842        HVQ   3POLC
3552  2019-02-07 23:59:37  LC3842        HVQ   3POLC

[3553 rows x 4 columns]

In [2]:
df[df.country_id == 'BDV'].groupby('site_id').user_id.nunique()

site_id
3POLC      2
5NPAU    544
N0OTG     90
Name: user_id, dtype: int64

### Q2
Between 2019-02-03 00:00:00 and 2019-02-04 23:59:59, there are four users who visited a certain site more than 10 times. Find these four users & which sites they (each) visited more than 10 times. (Simply provides four triples in the form (user_id, site_id, number of visits) in the box below.)

In [3]:
# select the time range, groupby user_id and site_id, count occurence
visit = df[(df['ts'] > '2019-02-03 00:00:00') & (df['ts'] <= '2019-02-04 23:59:59')].groupby(['user_id','site_id']).size()
visit[visit > 10]

user_id  site_id
LC06C3   N0OTG      25
LC3A59   N0OTG      26
LC3C7E   3POLC      15
LC3C9D   N0OTG      17
dtype: int64

### Q3
For each site, compute the unique number of users whose last visit (found in the original data set) was to that site. For instance, user "LC3561"'s last visit is to "N0OTG" based on timestamp data. Based on this measure, what are top three sites? (hint: site "3POLC" is ranked at 5th with 28 users whose last visit in the data set was to 3POLC; simply provide three pairs in the form (site_id, number of users).)

In [4]:
# sort by user_id and ts
# groupby user_id and get last accurence which is the last visit for each user
# groupby site_id, get occurence and sort
df.sort_values(by=['user_id','ts'])
df_lv = df.groupby(['user_id'], as_index=False).last()
df_lv.groupby('site_id').size().sort_values(ascending=False)

site_id
5NPAU    992
N0OTG    561
QGO3G    289
GVOFK     42
3POLC     28
RT9Z6      2
JSUUP      1
EUZ/Q      1
dtype: int64

### Q4
For each user, determine the first site he/she visited and the last site he/she visited based on the timestamp data. Compute the number of users whose first/last visits are to the same website. What is the number?

In [5]:
# similarly get first visit
# Get num of occurence when first and last visit are to the same site
df_fv = df.groupby(['user_id'], as_index=False).first()
(df_lv['site_id'] == df_fv['site_id']).astype(int).sum()

1670